.image {
    width: 900;
    height: 900;
    position: absolute;
    top: -30;
    left: -251;
    right: 0;
    bottom: 0;
}

.text {
    color: #5f4700;
    text-shadow: 1px 1px 1px black;
    font-family: Gill Sans;
    font-style: italic;
    font-size: 35;
    top: 250;
    left: 35;
    right: 0;
    bottom: 0;
}

.button {
    background-color: #241900;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    top: 420;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px 12px;
    margin-bottom: 20px;
}

.buttonText {
    font-family: Gill Sans;
    font-size: 40;
    color: aliceblue;
}